# caches et fichiers temporaires
build/
.dart_tool/
.packages
.pub/
.pub-cache/
.env

# fichiers de config locaux / IDE
*.iml
.idea/
*.lock
.metadata
.flutter-plugins
.flutter-plugins-dependencies

# dossiers natifs non utilisés pour le web
ios/
android/
linux/
macos/
windows/

# Git
.git/
.gitignore

# fichiers qui ne sont pas du code
README.md
analysis_options.yaml