# Flutter
build/
.dart_tool/
.packages
.pub/
.pub-cache/

# IDE
*.iml
.idea/
*.lock
.metadata
.flutter-plugins
.flutter-plugins-dependencies

# Natif
ios/
android/
linux/
macos/
windows/
test/

# Git
.git/
.gitignore

# Autres
README.md
analysis_options.yaml
Dockerfile
docker-compose.yml
.dockerignore_old
