.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
.pub-cache/
.pub/
build/
ios/
android/
linux/
macos/
windows/
test/
.git/
.gitignore
.idea/
*.iml
README.md
analysis_options.yaml
pubspec.lock
