# Configuration de l'API
API_URL=http://localhost:4000/api

# Configuration de l'application
APP_NAME="LHC""
APP_VERSION=0.5

# Configuration Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_BUCKET=


# Port NGinx
PORT=
